// Specific CSS for your home-page
.container {
  display: flex;
  justify-content: center;
  padding: 30px;
  box-shadow: 0 2px 3px 5px rgba(200,200,200,0.4);
  border-radius: 10px;
  background: #DBE9EE;
  width: 600px;
  flex-direction: column;
  margin-top: 20px;
}

h1 {
  font-family: Helvetica;
  font-weight: bold;
  width: 250px;
  margin: 0 auto;
}

.headers {
  width: 100%;
  background: #16262E;
  color: #C0E0DE;
  // display: inline-block;
}


.backlink {
  display: flex;
  margin: 10px;
  justify-content: space-around;
  font-size: 24px;
}
